<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Book Notes</title>
  </head>
  <body>
    <div class="main-container">
      <div class="heading">John Doe</div>
      <!-- <div class="subheading">Books I've Read</div> -->
      <!-- <div class="heading-section-content">
        <p class="heading-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
          necessitatibus praesentium obcaecati vero dolor quibusdam?
        </p>
        <p class="heading-paragraph">
          Lorem ipsum dolor sit amet
          <span class="bold">consectetur adipisicing elit</span> . Quod,
          necessitatibus praesentium obcaecati vero dolor quibusdam?
        </p>
        <p class="heading-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
          necessitatibus praesentium obcaecati vero dolor quibusdam?
        </p>

        <hr class="break-heading" />
      </div> -->
      <% if (locals.note) { %>
        <div class="card-container">
        <div class="card">
                <img src="<%= (note.image_url&& note.image_url!=='null' && note.image_url!=null)? note.image_url: "/images/frown.svg" %>" alt="" class="card-image" />
          <div class="subheading">
            <%= note.title %>
          </div>
          <div class="review-n-time-section"><%= note.date_read %></div>
          <div class="review-n-time-section"><%= note.review %></div>
          <div class="card-warping-synopsis">
            <%= note.overview %>
          </div>
        </div>
      </div>
      <div class="notes-section">
        <div class="notes-heading">My Notes</div>
        <p class="notes-paragraph">
          <%= note.notes %>
        </p>
       
      </div>
      <% } %>
    </div>
  </body>
</html>
